/* Container style */
.create_client_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 10;
    -fx-spacing: 15;
}

/* Text style */
.create_client_container Text {
    -fx-font-size: 1.2em;
    -fx-fill: #888888;
}

/* Container border style */
.create_client_container VBox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #000000;
}

/* Common text field style */
.create_client_container .common-text-field {
    -fx-pref-width: 250;
    -fx-pref-height: 35;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

/* Address label style */
.address_lbl {
    -fx-pref-width: 350;
    -fx-pref-height: 50;
    -fx-padding: 5;
    -fx-background-color: #909fcb;
    -fx-background-radius: 5;
    -fx-font-size: 2.3em;
    -fx-effect: dropshadow(three-pass-box, #faeaea, 3, 0, 0, 3);
}
.address_lbl1 {
    -fx-pref-width: 350;
    -fx-pref-height: 50;
    -fx-padding: 5;
    -fx-background-color: #909fcb;
    -fx-background-radius: 5;
    -fx-font-size: 1.5em;
    -fx-effect: dropshadow(three-pass-box, #faeaea, 3, 0, 0, 3);
}
.Separator {
    -fx-font-size: 1.3em;
}

/* Button style */
.create_client_container Button {
    -fx-background-color: linear-gradient(to right, #6d96be, #82a5d7);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 250;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
}

/* Hover effect for buttons */
.create_client_container Button:hover {
    -fx-cursor: hand;
}

/* Radius Button style (additional style for specific buttons) */
.create_client_container .radius-button {
    -fx-background-color: linear-gradient(to right, #FF5733, #FF784D); /* Customize as needed */
}

/* Container style */
.create_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 30;
    -fx-spacing: 23;
}
/* Button style */
.create_container Button {
    -fx-background-color: linear-gradient(to right, #c1d3d0, #88b9d5);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 200;
    -fx-font-size: 1.3em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.create_container Label {
    -fx-pref-width: 400px;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-text-fill: #cb7b7b;
}
