.client_cell_container {
    -fx-background-radius: 10;
}

.client_cell_container FontAwesomeIconView {
    -fx-fill: #57b9da;
}

.client_cell_container HBox {
    -fx-spacing: 25;
    -fx-alignment: Center_left;
}

.client_cell_container Label {
    -fx-text-fill: #151111;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.1em;
}

.acc_display_lbl {
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.delete_btn {
    -fx-background-color: #e04e4e;
}

.delete_btn FontAwesomeIconView {
    -fx-fill: #f3d6d6;
    transition: all 0.3s;
}

.delete_btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #e83030;
    -fx-text-fill: #6fcefa;
}
