.create_client_container {
    -fx-background-color: #F5F5F5; /* Màu nền dịu dàng hơn */
}

.create_client_container Text {
    -fx-font-size: 1.3em;
    -fx-fill: #777777; /* Màu văn bản dịu dàng hơn */
}

.create_client_container VBox {
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #90B0D5; /* Màu viền dịu dàng hơn */
    -fx-padding: 15;
    -fx-spacing: 20;
}

.create_client_container TextField {
    -fx-pref-width: 280; /* Độ rộng nhỏ hơn */
    -fx-pref-height: 35; /* Độ cao nhỏ hơn */
    -fx-background-color: #F8F8F8; /* Màu nền */
    -fx-font-size: 1.3em; /* Kích thước phông chữ giữ nguyên */
    -fx-effect: dropshadow(three-pass-box, #90B0D5, 3, 0, 0, 3); /* Bóng đổ nhẹ hơn */
}

.create_client_container Button {
    -fx-background-color: linear-gradient(to right, #4F94F5, #68B2E7); /* Gradient màu sắc */
    -fx-effect: dropshadow(three-pass-box, #90B0D5, 3, 0, 0, 2); /* Bóng đổ nhẹ hơn */
    -fx-pref-width: 280;
    -fx-font-size: 1.4em;
    -fx-font-family: "Calibri"; /* Font family giữ nguyên */
    -fx-text-fill: #FFFFFF; /* Màu văn bản */
}

.create_client_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, #2E72D6, #4F94F5); /* Màu nền hover khác */
    -fx-translate-y: 2px;
}
.error_lbl {
    -fx-font-size:1.3em;
    -fx-text-fill: #FF0000;
}