#rankListView {
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

#headerLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 0px 200px;
    -fx-background-color: #FFF0F5;
    -fx-effect: dropshadow( gaussian , rgba(196, 123, 238, 0.75), 10, 0.5 , 0 , 0);
}