.resetPassword {
    -fx-background-color: #F0F8FF;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.resetPassword Label {
    -fx-font-size: 1.2em;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 1, 0, 0, 1);
}

.resetPassword Button {
    -fx-background-color: linear-gradient(to right, #a8efa1, #8dea9e);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 250;
    -fx-font-size: 1.3em;
    -fx-font-family: "Calibri Light";
}

.resetPassword Button:pressed {
    -fx-background-color: #4169E1;
    -fx-effect: dropshadow(three-pass-box, #000000, 3, 0, 0, 3);
    -fx-font-size: 1.4em;
}


/* Hover effect for buttons */
.resetPassword Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #6495ED;
}